::-webkit-scrollbar
{
  width: 0;
}


/* Style for the navbar container */
nav {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style for the navbar list */
ul.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  height: 100%; /* Set the height of the navbar */
}

/* Style for each navbar item */
ul.navbar-list li {
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Style for the navbar links */
ul.navbar-list li .nav-link {
  display: block;
  padding: 12px 17px;
  color: #fff;
  font-size:20px;
  text-decoration: none;
  font-family: sans-serif; /* Apply the sans-serif font style */
  background-color: #333;
  border-radius: 8px;
  transition: all 0.3s ease; /* Add transition effect */
}

/* Style for the navbar links on hover */
ul.navbar-list li .nav-link:hover {
  background-color: #fff;
  color: #333;
  border-radius: 10px; /* Apply border radius on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Apply box shadow on hover */
}

.p1
{
  display: flex;
  padding: 5px;
  gap: 20px;
  margin: 20px;
}

.p1 .pleft
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.p1 .pright
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.p1 .pleft p
{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
  margin: 20px 20px 20px 20px;
  line-height: 35px;
}

.p1 .pleft ol li
{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  margin: 20px 20px 20px 20px;
  line-height: 30px;
}

.p1 .pright img
{
  width: 310px;
  height: 340px;
  margin: 20px;
}

.p1 .pright:hover
{
  /* transform: scale(0.8); */
  transform: scale3d(0.8, 0.8, 0.8);
}

.box
{
  position: relative;
  justify-content:center;
  align-items:center;
  margin-left: 15px;
  margin-top: 15px;
  color:blue;
  width: 150px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.box h2
{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
}

.titname
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  color: blueviolet;
  font-size: 23px;
}

.container 
{
  width: 646px;
  height: 700px;
  background: aquamarine;
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  border-radius: 10px;
  /* margin: 25px 463px; */
  padding: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 28%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.container .tag1 
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  margin: -1px;
  /* background: burlywood; */
}

.container .tag1 label 
{
  margin-left: 4px;
  font-size: 20px;
  font-weight: 700;
  color: blue;
  margin-right: 11px;
  width: 204px;
}

.container .tag1 input[type="text"] 
{
  margin-left: 0px;
  text-align: center;
  width: 535px;
  height: 30px;
  border-radius: 7px;
  border: 2px solid blue;
}

.container .tag1 input[type="text"]:focus
{
  border-radius: 7px;
  border: 2px solid blue;
  text-align: center;
}

.container .tag1 input[type="text"]::placeholder 
{
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
}

.container .tag1 input[type="password"] 
{
  margin-left: 0px;
  text-align: center;
  width: 535px;
  height: 30px;
  border-radius: 7px;
  border: 2px solid blue;
}

.container .tag1 input[type="password"]:focus
{
  border-radius: 7px;
  border: 2px solid blue;
  text-align: center;
}

.container .tag1 input[type="password"]::placeholder 
{
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
}

.container .tag1 input[type="number"] 
{
  margin-left: 0px;
  text-align: center;
  width: 535px;
  height: 30px;
  border-radius: 7px;
  border: 2px solid blue;
}

.container .tag1 input[type="number"]:focus
{
  border-radius: 7px;
  border: 2px solid blue;
  text-align: center;
}

.container .tag1 input[type="number"]::placeholder 
{
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
}

.container .tag1 input[type="button"]
{
  width: 165px;
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: blueviolet;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  border: transparent;
  cursor: pointer;
}

.container .tag1 button
{
  width: 165px;
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: blueviolet;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  border: transparent;
  cursor: pointer;
}